@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
   font-family: 'DM Sans', sans-serif;
}
::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
.flex-center {
   @apply flex items-center justify-center;
}
.activeBtnTransmition {
   @apply bg-secondary-blue text-primary-white;
}
.shape {
   border-radius: 91% 9% 0% 100% / 73% 0% 100% 27%;
}
.loader {
   width: 50px;
   padding: 6px;
   aspect-ratio: 1;
   border-radius: 50%;
   background: #242929;
   --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
   -webkit-mask: var(--_m);
   mask: var(--_m);
   -webkit-mask-composite: source-out;
   mask-composite: subtract;
   animation: s3 1s infinite linear;
}
@keyframes s3 {
   to {
      transform: rotate(1turn);
   }
}

/*  */
.ui {
   display: grid;
   gap: 4em;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
